.parent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mainContainer {
  width: 35%;
}

.mainContainer > h3 {
  text-align: center;
  padding-bottom: 20px;
}

.generatingPassword {
  height: 50px;
  background-color: #24232c;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.copyContainer,
.characterLength > h2 {
  color: hsl(127, 100%, 82%);
}

.copyContainer > span {
  margin-right: 10px;
}

.copyIcon {
  cursor: pointer;
  font-size: large;
}

.copyIcon:hover {
  color: white;
  transition: 0.5s;
}

.copiedPassword {
  color: hsl(251, 9%, 53%);
}

.passwordGenerator {
  margin-top: 20px;

  background-color: #24232c;
  padding: 20px;
}

.characterLength {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBoxContainer {
  display: flex;
  margin-bottom: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: hsl(248, 15%, 11%);
  accent-color: white;
  cursor: pointer;
  margin: 20px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
  border: 2px solid hsl(127, 100%, 82%);
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
  accent-color: hsl(127, 100%, 82%);
}

label {
  margin-left: 20px;
}

.strenghtContainer {
  height: 50px;
  background-color: hsl(248, 15%, 11%);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.strenght {
  display: flex;
  align-items: center;
  gap: 10px;
}

.strengthLevel {
  width: 10px;
  height: 25px;
  border: 2px solid white;
}

.level-1,
.level-2,
.level-3,
.level-4 {
  border: none;
}

.level-1 {
  background-color: hsl(0, 91%, 63%);
}

.level-2 {
  background-color: hsl(13, 95%, 66%);
}

.level-3 {
  background-color: hsl(42, 91%, 68%);
}

.level-4 {
  background-color: hsl(127, 100%, 82%);
}

.generateButton {
  width: 100%;
  height: 50px;
  background-color: hsl(127, 100%, 82%);
  border: 2px solid hsl(127, 100%, 82%);
  cursor: pointer;
}

.generateButton:hover {
  transition: 0.5s;
  background-color: hsl(127, 100%, 82%, 0);
  color: hsl(127, 100%, 82%);
}

.faArrowRight {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 90%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .mainContainer {
    width: 70%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .mainContainer {
    width: 55%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1115px) {
  .mainContainer {
    width: 40%;
  }
}
